header {
    background-color: aqua;
}

body {
    background-color: bisque;
}


.estudante-div{
    text-align: center;
    padding: 1px 0;
}

.estudante-titulo{
    text-align: center;
    padding: 16px 0;
}
.estudante-imagem{
    width: 50%;
    height: 50%;
}
.estudante-icone{
    width: 25px;
    padding: 4px 8px;
}
footer{
    background-color: chartreuse;
}
.rodape {
    background-color: #000000;
    color: white;
    text-align: center;
}